h3 {
  font-family: 'EB Garamond', serif;
  padding-top: 75px;
  padding-bottom: 40px;
  letter-spacing: 5px;
}

#covertext {
  font-family: 'EB Garamond', serif;
  font-size: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

#imgbanner {
  width: auto;
  height: 275px;
}

#projectbutton {
  background-color: white;
  outline: none !important;
  border: none;
}

#projectbutton:hover{
    z-index:-1;
    color: #d93734;
    opacity: 80%;
}


/*
    background: #f4f5ed;
    */
