#aboutjumbo {
    z-index: 1;
    position: absolute;
    background: url("../../assets/hero9.JPG") no-repeat center center;
    background-size: cover;
    width: 50vw;
    height: 100vh;
}

.fortext {
    top: 10vh;
    left: 70vw;
    margin-left: auto;
}