.jumbotron {
    background: url("../../assets/hero8.jpg") no-repeat center center;
    background-size: cover;
    height: 100vh;
  }
/*

   background-size: cover;
   padding-top: 25%;
   padding-bottom: 21%;
   animation: fadeInAnimation ease 3s;
   animation-iteration-count: 1;
   animation-fill-mode: forwards;

}

@keyframes fadeInAnimation {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
     }
}

@media screen and (max-width: 767px) {
    .jumbotron{
    	background: url("../../assets/hero8.jpg");
      background-size: cover;
      padding-top: 25%;
      padding-bottom: 65%;
    }
}
   */

#cheekytext {
  text-align: center;
  color: #7F7F7F;
  border-width: medium;
}

.logo {
  width: 20px;
  height: 20px;
}
