
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

.navbar-brand {
  padding-left: 10px;
  font-family: 'EB Garamond', serif;
}

#navitemblack {
  color: black;
  font-family: 'EB Garamond', serif;
}

#navitemblack:hover {
  color: #d93734;
}

#navitem {
  color: white;
  font-family: 'EB Garamond', serif;
}

#navitem:hover {
  color: #d93734;
}

#media-links {
  padding: 10px;
  padding-top: 15px;
}

.logo {
  filter: brightness(0) invert(1);
  width: 20px;
  height: 20px;
}

.logo:hover {
  filter: invert(29%) sepia(18%) saturate(5640%) hue-rotate(337deg) brightness(109%) contrast(93%);
}

.logoblack {
  width: 20px;
  height: 20px;
}

.logoblack:hover {
  filter: invert(29%) sepia(18%) saturate(5640%) hue-rotate(337deg) brightness(109%) contrast(93%);
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
