#imageback {
  padding-top: 5vh;
  width: 140vh;
  height: auto;
  margin-left: auto;
}

#imagecontainer {
  font-family: "EB Garamond", serif;
  font-size: 20px;
  width: 110vh;
  height: auto;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

#someimg {
  width: 110vh;
}
